/*
  This style sheet is used to design the bar graph and the tooltip on the bar graph
*/

.bar{
  fill: rgb(43, 123, 138);
}

.bar:hover{
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
div.tooltip {	
  position: absolute;			
  text-align: center;			
  width: 60px;					
  height: 28px;					
  padding: 2px;
  background-color: steelblue;				
  font: 12px sans-serif;			
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;			
}
.toolTip {
	position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
}